.general-serach-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  column-count: 3;
}

.form {
  height: 10%;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-right: auto;
}
