html {
  margin: 0;
  border: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  background: rgb(63, 132, 150);
  background: linear-gradient(
    112deg,
    rgba(63, 132, 150, 1) 17%,
    rgba(203, 201, 201, 1) 65%
  );
}

.movie-detail-page-header {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #153740;
}

.movie-title {
  margin-left: 10%;
  color: aliceblue;
}

.movie-star {
  margin-left: auto;
  padding: 10px;
}

.movie-poster {
  justify-content: center;
}

.movie-poster img {
  width: 500px;
}

.movie-characteritics-bar {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
  background: rgb(191, 146, 108);
  background: linear-gradient(
    90deg,
    rgba(191, 146, 108, 1) 0%,
    rgba(176, 172, 163, 1) 37%,
    rgba(63, 132, 150, 1) 100%
  );
}

.movie-characteritics-bar-square {
  flex: 0.3;
  text-align: center;
  color: #153740;
}

.movie-year,
.movie-rating {
  border-right: solid 2px aqua;
}

.movie-numbers {
  display: flex;
  flex-direction: column;
}

.movie-button-bar {
  display: flex;
  justify-content: space-between;
  flex: row;
  margin-left: 10%;
  margin-right: 10%;
}

.movie-button img {
  width: 60px;
  height: 20px;
}

.movie-button {
  padding: 5px;
}

.movie-plot {
  background: rgb(83, 160, 180);
  background: radial-gradient(
    circle,
    rgba(83, 160, 180, 1) 0%,
    rgba(28, 36, 38, 1) 100%
  );
  border-radius: 5%;
  text-align: center;
  padding: 15px;
  width: 80%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 90px;
  margin-bottom: 90px;
  width: 75%;
  height: 30%;
  color: #e6e3e3;
  font-size: 30px;
}

.movie-more-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
  background: rgb(191, 146, 108);
  background: linear-gradient(
    270deg,
    rgba(191, 146, 108, 1) 0%,
    rgba(176, 172, 163, 1) 18%,
    rgba(63, 132, 150, 1) 83%
  );
}

.movie-more-details p {
  background: none;
  padding: 5px;
  margin-bottom: 20px;
}

.movie-star path {
  fill: aliceblue;
}

.movie-star-favorite path {
  fill: yellow;
}

.fav-button-favorite img {
  width: 60px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .movie-title {
    justify-content: center;
    align-self: center;
  }

  .movie-poster img {
    justify-content: center;
    width: 70%;
  }

  .movie-button-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .movie-characteritics-bar-square {
    display: flex;
    flex-direction: column;
  }

  .movie-button img {
    width: 40px;
    height: 40px;
  }

  .fav-button,
  .edit-button,
  .delete-button {
    height: 50px;
    width: 70px;
  }

  .movie-button {
    padding: 5px;
    margin: 10px;
  }

  .movie-plot {
    justify-self: center;
    align-self: center;
    border-radius: 5%;
    text-align: center;
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 75%;
    height: 80%;
    color: #e6e3e3;
    font-size: 22px;
  }
}
