.weekly-top-container{
    background-color: lightgrey;
    width: 100%;
    display: flex;
    margin-top: 30px;
    height: auto;
    justify-content: space-between;
    border-radius: 30px;
    -webkit-box-shadow: inset 0px 0px 27px 5px rgba(99,1,9,1);
    -moz-box-shadow: inset 0px 0px 27px 5px rgba(99,1,9,1);
    box-shadow: inset 0px 0px 27px 5px rgba(99,1,9,1);
}
.render-movies-weekly-top{
    width: 100%;
    margin-left: 20px;
}
.movies{
    margin-left: 6px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.desc-movie-weekly{
    position: initial;
    padding: 0;
    text-align: center;
}

.poster-weekly-top{
    height: 400px;
    width: 284px;
    -webkit-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
}
h1{
    display: block;
}

@media only screen
and (min-device-width : 301px)
and (max-device-width : 480px) {
    .weekly-top-container{
        background-color: lightgrey;
        width: 100%;
        display: block;
        margin-top: 30px;
        height: 1040px;
        overflow: auto;
        justify-content: space-between;
    }
    .render-movies-weekly-top{
        width: 100%;
        margin: 10px 10px 10px 0;
        text-align-last: center;
    }
    .movies{
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .desc-movie-weekly{
        margin-top: 5px;
    }
    .poster-weekly-top{
        height: 400px;
        width: 350px;
        -webkit-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
        -moz-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
        box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
    }
}
 .recommended-container{
        background-color: lightgrey;
        width: 100%;
        display: block;
        margin-top: 30px;
        height: 985px;
        overflow: auto;
        justify-content: space-between;
    }
    .render-movies-recommended{
        width: 100%;
        margin: 10px 10px 10px 0;
        text-align-last: center;
    }
    .movies-recommended{
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .desc-movie-recommended{
        margin-top: 5px;
    }
    .poster-recommended{
        height: 400px;
        width: 350px;
        -webkit-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
        -moz-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
        box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
    }

@media (min-width: 481px) and (max-width: 600px) {
    .weekly-top-container{
        background-color: lightgrey;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        height: 1020px;
        overflow: auto;
        justify-content: space-between;
    }
    .render-movies-weekly-top{
        width: 100%;
        margin: 0;
        text-align-last: center;
        flex: 1 0 21%;
    }
    .movies{
        margin-top: 5px;
    }
    .poster-weekly-top{
        height: 400px;
        width: 350px;
        -webkit-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
        -moz-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
        box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
    }
  }
@media (min-width: 601px) and (max-width: 750px) {
    .weekly-top-container{
        background-color: lightgrey;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        height: 800px;
        overflow: auto;
        justify-content: space-between;
    }
    .render-movies-weekly-top{
        width: 100%;
        margin: 0;
        text-align-last: center;
        flex: 1 0 21%;
    }
    .movies{
        margin-top: 5px;
    }
    .poster-weekly-top{
        height: 300px;
        width: 254px;
        -webkit-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
        -moz-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
        box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
    }
  }

  @media (min-width: 751px) and (max-width: 900px) {
    .weekly-top-container{
        background-color: lightgrey;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        height: 900px;
        overflow: auto;
        justify-content: space-between;
    }
    .render-movies-weekly-top{
        width: 100%;
        margin: 0;
        text-align-last: center;
        flex: 1 0 21%;
    }
    .movies{
        margin-top: 5px;
    }
    .poster-weekly-top{
        height: 300px;
        width: 254px;
        -webkit-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
        -moz-box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
        box-shadow: 0px 0px 13px 18px rgba(0,0,0,0.27);
    }
  }