.coming-soon-container{
    border: 1px solid red;
    background-color: burlywood;
    width: 60%;
    /* display: flex; */
    margin-left: 60px;
    /* margin-right: 100px; */
    margin-top: 30px;
    height: 500px;
    align-items: center;
}

.arrows:hover{
  background-color: rgba(0, 255, 200, 0.2);
}