.coming-soon-container{
    border: none;
    background-color: lightgrey;
    width: 70%;
    /* display: flex; */
    margin-left: 20px;
    /* margin-right: 100px; */
    margin-top: 30px;
    height: 833px;
    align-items: center;
    overflow: hidden;
}

.arrows:hover{
  background-color: rgba(0, 255, 200, 0.2);
}
.title-coming-soon{
  margin: auto;
  padding: 0;
}