.footer-container{
    width: 100%;
    background-color: lightgrey;
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
}