.form {
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  justify-content: space-evenly;
  background-color: azure;
}

.form label {
  margin: 15px;
}

.form input {
  margin-left: 10px;
}

.form-button {
  margin: 10px;
  width: 60px;
  height: 20px;
  align-self: center;
}

.form-container {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
}
