.pop-up {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  margin-top: -100px;
  z-index: 1;
  position: fixed;
}

.pop-up-content {
  margin: auto;
  max-width: 90%;
  max-height: 70%;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}
